
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.next
.next/build-manifest.json
.next/build-manifest.json
.next/build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/12.pack
.next/cache/webpack/client-development/13.pack
.next/cache/webpack/client-development/14.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/_error.js
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-api-runtime.js
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/[meetupId].js
.next/server/pages/index.js
.next/server/pages/new-meetup.js
.next/server/pages/api/new-meetup.js
.next/static/chunks/_error.js
.next/static/chunks/main.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/[meetupId].js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/new-meetup.js
.next/static/development/_buildManifest.js
.next/static/webpack/1cdced94152e0975.webpack.hot-update.json
.next/static/webpack/1cfe53703d27e91a.webpack.hot-update.json
.next/static/webpack/6b46509defe16a6f.webpack.hot-update.json
.next/static/webpack/06f837c4ca8f6cb3.webpack.hot-update.json
.next/static/webpack/07d4b357b7aeac9b.webpack.hot-update.json
.next/static/webpack/8afb458351363276.webpack.hot-update.json
.next/static/webpack/45a6b1ed0b9331fe.webpack.hot-update.json
.next/static/webpack/67a8e56d3732fa29.webpack.hot-update.json
.next/static/webpack/93d1b693cc778cad.webpack.hot-update.json
.next/static/webpack/317c2ff77b575710.webpack.hot-update.json
.next/static/webpack/596a38bf3e3bc4ad.webpack.hot-update.json
.next/static/webpack/692d57ce2adbd432.webpack.hot-update.json
.next/static/webpack/947ed1450c469f88.webpack.hot-update.json
.next/static/webpack/5708dc9a65432558.webpack.hot-update.json
.next/static/webpack/5722e139f882766f.webpack.hot-update.json
.next/static/webpack/08039d849e1e8525.webpack.hot-update.json
.next/static/webpack/016776d6bc3b64a8.webpack.hot-update.json
.next/static/webpack/79402d147c256ec1.webpack.hot-update.json
.next/static/webpack/88242b431de684f6.webpack.hot-update.json
.next/static/webpack/95658c032daf30f3.webpack.hot-update.json
.next/static/webpack/675271c2675eef9b.webpack.hot-update.json
.next/static/webpack/641920988121530d.webpack.hot-update.json
.next/static/webpack/a2452dbe49126f0e.webpack.hot-update.json
.next/static/webpack/af486ae4ecef9bd1.webpack.hot-update.json
.next/static/webpack/b691173e6dbe71af.webpack.hot-update.json
.next/static/webpack/b23232967a302a4f.webpack.hot-update.json
.next/static/webpack/c3ac3766b23f3de2.webpack.hot-update.json
.next/static/webpack/c9c27c817804cbb4.webpack.hot-update.json
.next/static/webpack/c24c21c331b49e93.webpack.hot-update.json
.next/static/webpack/c533582361cf0e49.webpack.hot-update.json
.next/static/webpack/cf97f8a2f1c7aa83.webpack.hot-update.json
.next/static/webpack/db93c46401345e2c.webpack.hot-update.json
.next/static/webpack/f0458b23b83ee00e.webpack.hot-update.json
.next/static/webpack/f715b7101f3f548d.webpack.hot-update.json
.next/static/webpack/f5576f396d6e9c98.webpack.hot-update.json
.next/static/webpack/webpack.1cdced94152e0975.hot-update.js
.next/static/webpack/webpack.1cfe53703d27e91a.hot-update.js
.next/static/webpack/webpack.6b46509defe16a6f.hot-update.js
.next/static/webpack/webpack.06f837c4ca8f6cb3.hot-update.js
.next/static/webpack/webpack.07d4b357b7aeac9b.hot-update.js
.next/static/webpack/webpack.8afb458351363276.hot-update.js
.next/static/webpack/webpack.45a6b1ed0b9331fe.hot-update.js
.next/static/webpack/webpack.67a8e56d3732fa29.hot-update.js
.next/static/webpack/webpack.93d1b693cc778cad.hot-update.js
.next/static/webpack/webpack.317c2ff77b575710.hot-update.js
.next/static/webpack/webpack.596a38bf3e3bc4ad.hot-update.js
.next/static/webpack/webpack.692d57ce2adbd432.hot-update.js
.next/static/webpack/webpack.947ed1450c469f88.hot-update.js
.next/static/webpack/webpack.5708dc9a65432558.hot-update.js
.next/static/webpack/webpack.5722e139f882766f.hot-update.js
.next/static/webpack/webpack.08039d849e1e8525.hot-update.js
.next/static/webpack/webpack.016776d6bc3b64a8.hot-update.js
.next/static/webpack/webpack.79402d147c256ec1.hot-update.js
.next/static/webpack/webpack.88242b431de684f6.hot-update.js
.next/static/webpack/webpack.95658c032daf30f3.hot-update.js
.next/static/webpack/webpack.675271c2675eef9b.hot-update.js
.next/static/webpack/webpack.641920988121530d.hot-update.js
.next/static/webpack/webpack.a2452dbe49126f0e.hot-update.js
.next/static/webpack/webpack.af486ae4ecef9bd1.hot-update.js
.next/static/webpack/webpack.b691173e6dbe71af.hot-update.js
.next/static/webpack/webpack.b23232967a302a4f.hot-update.js
.next/static/webpack/webpack.c3ac3766b23f3de2.hot-update.js
.next/static/webpack/webpack.c9c27c817804cbb4.hot-update.js
.next/static/webpack/webpack.c24c21c331b49e93.hot-update.js
.next/static/webpack/webpack.c533582361cf0e49.hot-update.js
.next/static/webpack/webpack.cf97f8a2f1c7aa83.hot-update.js
.next/static/webpack/webpack.db93c46401345e2c.hot-update.js
.next/static/webpack/webpack.f0458b23b83ee00e.hot-update.js
.next/static/webpack/webpack.f715b7101f3f548d.hot-update.js
.next/static/webpack/webpack.f5576f396d6e9c98.hot-update.js
.next/static/webpack/pages/index.79402d147c256ec1.hot-update.js
.next/static/webpack/pages/index.88242b431de684f6.hot-update.js
.next/static/webpack/pages/index.95658c032daf30f3.hot-update.js
.next/static/webpack/pages/index.b23232967a302a4f.hot-update.js
.next/static/webpack/pages/index.c3ac3766b23f3de2.hot-update.js
.next/static/webpack/pages/index.f5576f396d6e9c98.hot-update.js
.next/static/webpack/pages/new-meetup.6b46509defe16a6f.hot-update.js
.next/static/webpack/pages/new-meetup.67a8e56d3732fa29.hot-update.js
.next/static/webpack/pages/new-meetup.5708dc9a65432558.hot-update.js
.next/static/webpack/pages/new-meetup.675271c2675eef9b.hot-update.js
.next/build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/static/chunks/webpack.js
.next/static/development/_buildManifest.js
